<div class="row">
  <div class="col-sm-12">
    <form class="server-form" method="post">
	  <div class="form-group">
        <label for="String1">Paragraph:</label>
        <textarea class="form-control" id="String1" name="String1" placeholder="Enter your story here.." rows="4"> </textarea>
      </div>
	  
	  <div class="form-group">
        <label for="String2">String To Insert</label>
        <input type="String2" class="form-control" id="String2" name="String2" placeholder="String To Insert" value="{{inputText}}">
      </div>
      <div class="form-group">
        <label for="number1">Frequency of String:</label>
        <input type="number" class="form-control" id="number1" name="number1" placeholder="Frequency of String:" value="{{freq}}">
      </div>
      <div class="form-group">
        <label for="number2">Character Count:</label>
        <input type="number" class="form-control" id="number2" name="number2" placeholder="Character Count:" value="{{wordcount}}">
      </div>
     
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>

      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
          The result is: {{ result }}
        </div>
      </div>
      {{/if}}
      
    </form>
  </div>
</div>