<div "class"="col-sm-12 col-md-6">
    <h2>User: {{UserData.alias}}</h2>
    <h4>Username: </h4>
    <p>
        {{username}}
    </p>
    <h4>First Name:</h4>
    <p>
        {{UserData.firstName}}
    </p>
    <h4>Last Name:</h4>
    <p>
        {{UserData.lastName}}
    </p>
    <h4>Profession:</h4>
    <p>
        {{UserData.profession}}
    </p>
    <h4>Bio: </h4>
    <p>
        {{UserData.bio}}
    </p>
</div>

<style>
    div {
        border-radius: 2px;
        background-color: #f2f2f2;
        padding: 5px;
    }
    
    form {
        border-radius: 2px;
        background-color: #f2f2f2;
        padding: 5px;
    }
</style>